<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Filtering-based-on-a-criteria" data-toc-modified-id="Filtering-based-on-a-criteria-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Filtering based on a criteria</a></span></li><li><span><a href="#index" data-toc-modified-id="index-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>index</a></span></li><li><span><a href="#filtering-based-on-values" data-toc-modified-id="filtering-based-on-values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>filtering based on values</a></span></li></ul></div>

# Filtering based on a criteria

```
# create condition boolean series
condition = df_can['Continent'] == 'Asia'
print(condition)
# pass condition into dataFrame
df_can[condition]
```

```
# we can pass multiple criteria in the same line.
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses
```

```
df_can.sort_values(by='Total', ascending=False, axis=0, inplace=True)
```

# index

```
# getting index of value_count() to numpy array
df1.DatabaseDesireNextYear.value_counts().index.to_numpy()
```

# filtering based on values

```
# returning those index where value_counts() == 1
df4['Respondent'].value_counts().index[df4['Respondent'].value_counts() == 1]
```

In [7]:
import pandas as pd 
data = pd.DataFrame({
    'name': ['sravan', 'ojsawi', 'bobby',  'rohith',
             'gnanesh', 'sravan', 'sravan', 'ojaswi'],
    'subjects': ['java', 'php', 'java', 'php', 'java',
                 'html/css', 'python', 'R'],
    'marks': [98, 90, 78, 91, 87, 78, 89, 90],
    'age': [11, 23, 11, 21, 21, 21, 24, 21]
})
data

      name  subjects  marks  age
0   sravan      java     98   11
1   ojsawi       php     90   23
2    bobby      java     78   11
3   rohith       php     91   21
4  gnanesh      java     87   21
5   sravan  html/css     78   21
6   sravan    python     89   24
7   ojaswi         R     90   21

In [12]:
data.age.value_counts()

21    4
11    2
23    1
24    1
Name: age, dtype: int64

In [8]:
# filters values by returning bool values for those rows with occurrence of age value 2 times from dataframe
(data['age'].value_counts()[data['age']] == 2).values

array([ True, False,  True, False, False, False, False, False])

In [13]:
data[((data['age'].value_counts()[data['age']] == 2).values)]

     name subjects  marks  age
0  sravan     java     98   11
2   bobby     java     78   11

In [5]:
print(len(data[((data['age'].value_counts()[data['age']] == 2).values) & ((data['subjects'] == 'java').values)]))
data[((data['age'].value_counts()[data['age']] == 2).values) & ((data['subjects'] == 'java').values)]

2

     name subjects  marks  age
0  sravan     java     98   11
2   bobby     java     78   11