<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#One-Hot-Encoding-for-Nominal-categorical-feature--variables-with-many-categories" data-toc-modified-id="One-Hot-Encoding-for-Nominal-categorical-feature--variables-with-many-categories-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>One Hot Encoding for Nominal categorical feature- variables with many categories</a></span><ul class="toc-item"><li><span><a href="#solution-to-variables-with-many-categories" data-toc-modified-id="solution-to-variables-with-many-categories-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>solution to variables with many categories</a></span></li></ul></li><li><span><a href="#Count-or-frequency-encoding-for-Nominal-categorical-feature" data-toc-modified-id="Count-or-frequency-encoding-for-Nominal-categorical-feature-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Count or frequency encoding for Nominal categorical feature</a></span></li><li><span><a href="#Ordinal-numbering-encoding-or-Label-Encoding" data-toc-modified-id="Ordinal-numbering-encoding-or-Label-Encoding-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Ordinal numbering encoding or Label Encoding</a></span></li></ul></div>

# One Hot Encoding for Nominal categorical feature- variables with many categories

In [1]:
#https://www.kaggle.com/aditya1702/mercedes-benz-data-exploration/data
import pandas as pd
import numpy as np
df = pd.read_csv('Datafiles/mercedesbenz.csv', usecols=['X1', 'X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      4209 non-null   object
 1   X2      4209 non-null   object
dtypes: object(2)
memory usage: 65.9+ KB

In [2]:
for col in df:
    print(df[col].unique())

['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']

In [4]:
# look at how many labels each variable has
for col in df.columns:
    print(col, ': ', len(df[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels

In [5]:
# examine how many columns will obtain after one hot encoding these variables
# can observe that from with just 2 categorical features are getting 69 features with help of one hot encoding
pd.get_dummies(df, drop_first=True).shape

(4209, 69)

## solution to variables with many categories
http://proceedings.mlr.press/v7/niculescu09/niculescu09.pdf In the winning solution of the KDD 2009 cup: "Winning the KDD Cup Orange Challenge with Ensemble

The Team suggested using 10 most frequent labels convert them into dummy variables using onehotencoding

How can we do that in python?http://proceedings.mlr.press/v7/niculescu09/niculescu09.pdf In the winning solution of the KDD 2009 cup: "Winning the KDD Cup Orange Challenge with Ensemble

The Team suggested using 10 most frequent labels convert them into dummy variables using onehotencoding

In [7]:
# find top 10 most frequent categories for variable X2
df.X2.value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [8]:
# make a list with most frequent categories of variable
top_10_labels = [y for y in df.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10_labels

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [11]:
# get whole set of dummy variables for all categorical variables
def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create dummy variables for most frequent labels
    # can vary number of most frequent labels that encode
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)  # 1 for all matching labels, 0 for nonmatching column

In [15]:
# read data again
df = pd.read_csv('Datafiles/mercedesbenz.csv', usecols=['X1', 'X2'])
print("before encoding ",df.shape)
# encode X2 into 10 most frequent categories
one_hot_encoding_top_x(df, 'X2', top_10_labels)
df.drop(['X2'],axis=1,inplace=True)
print("After encoding ",df.shape)
df.head()

before encoding  (4209, 2)
After encoding  (4209, 11)

  X1  X2_as  X2_ae  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0  v      0      0      0     0      0     0     0     0     0     0
1  t      0      0      0     0      0     0     0     0     0     0
2  w      0      0      0     0      0     0     1     0     0     0
3  t      0      0      0     0      0     0     1     0     0     0
4  v      0      0      0     0      0     0     1     0     0     0

# Count or frequency encoding for Nominal categorical feature

Another way to refer to variables that have a multitude of categories, is to call them variables with high cardinality.
If we have categorical variables containing many multiple labels or high cardinality,then by using one hot encoding, we will expand the feature space dramatically.
One approach that is heavily used in Kaggle competitions, is to replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent

In [17]:
df1 = pd.read_csv('Datafiles/mercedesbenz.csv', usecols=['X1', 'X2'])
df1.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [23]:
# have a look at how many labels
for col in df1.columns:
    print(col, ': ', len(df1[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels

In [25]:
# obtain counts for each one of labels in variable X2
# capture this in a dictionary that can use to re-map labels
df1.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [27]:
# And now let's replace each label in X2 by its count
# first we make a dictionary that maps each label to counts
df_frequency_map = df1.X2.value_counts().to_dict()

In [28]:
# and now replace X2 labels in dataset df1
df1.X2 = df1.X2.map(df_frequency_map)
df1.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137

There are some advantages and disadvantages that we will discuss now
Advantages
It is very simple to implement
Does not increase feature dimensional space

Disadvantages
If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.
2 Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power
Follow this thread in Kaggle for more information: https://www.kaggle.com/general/16927

# Ordinal numbering encoding or Label Encoding
Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known\
For example:\
Student's grade in an exam (A, B, C or Fail)\
Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4\
When the categorical variables are ordinal, the most straightforward best approach is to replace the labels by some ordinal number based on the ranks

In [31]:
# create a variable with dates and from that extract the weekday
# create a list of dates with 20 days difference from today
# and then transform it into a datafame
import datetime
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df.head()

                         day
0 2022-12-20 20:03:26.678200
1 2022-12-19 20:03:26.678200
2 2022-12-18 20:03:26.678200
3 2022-12-17 20:03:26.678200
4 2022-12-16 20:03:26.678200

In [36]:
# extract week day name
df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2022-12-20 20:03:26.678200     Tuesday
1 2022-12-19 20:03:26.678200      Monday
2 2022-12-18 20:03:26.678200      Sunday
3 2022-12-17 20:03:26.678200    Saturday
4 2022-12-16 20:03:26.678200      Friday

In [37]:
# Engineer categorical variable by ordinal number replacement
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}
df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(5)

                         day day_of_week  day_ordinal
0 2022-12-20 20:03:26.678200     Tuesday            2
1 2022-12-19 20:03:26.678200      Monday            1
2 2022-12-18 20:03:26.678200      Sunday            7
3 2022-12-17 20:03:26.678200    Saturday            6
4 2022-12-16 20:03:26.678200      Friday            5

Ordinal Measurement Advantages
Ordinal measurement is normally used for surveys and questionnaires. Statistical analysis is applied to the responses once they are collected to place the people who took the survey into the various categories. The data is then compared to draw inferences and conclusions about the whole surveyed population with regard to the specific variables. The advantage of using ordinal measurement is ease of collation and categorization. If you ask a survey question without providing the variables, the answers are likely to be so diverse they cannot be converted to statistics.
With Respect to Machine Learning Keeps the semantical information of the variable (human readable content) and Straightforward

Ordinal Measurement Disadvantages
The same characteristics of ordinal measurement that create its advantages also create certain disadvantages. The responses are often so narrow in relation to the question that they create or magnify bias that is not factored into the survey. For example, on the question about satisfaction with the governor, people might be satisfied with his job performance but upset about a recent sex scandal. The survey question might lead respondents to state their dissatisfaction about the scandal, in spite of satisfaction with his job performance -- but the statistical conclusion will not differentiate.

With Respect to Machine Learning Does not add machine learning valuable information