<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Flight-Price-Prediction(EDA-+-Feature-Engineering)" data-toc-modified-id="Flight-Price-Prediction(EDA-+-Feature-Engineering)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Flight Price Prediction(EDA + Feature Engineering)</a></span><ul class="toc-item"><li><span><a href="#Feature-Engineering" data-toc-modified-id="Feature-Engineering-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Feature Engineering</a></span></li><li><span><a href="#train-test-split" data-toc-modified-id="train-test-split-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>train test split</a></span></li><li><span><a href="#Building-Model" data-toc-modified-id="Building-Model-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Building Model</a></span></li></ul></li></ul></div>

# Flight Price Prediction(EDA + Feature Engineering)

In [1]:
#importing basics libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train_df=pd.read_excel('Datafiles/flight_train.xlsx')
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
train_df.shape

(10683, 11)

In [4]:
test_df=pd.read_excel('Datafiles/flight_test.xlsx')
print(test_df.shape)
test_df.head()

(2671, 10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
final_df = pd.concat([train_df, test_df],axis=0)
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

## Feature Engineering

In [6]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [7]:
final_df['Date_of_Journey'].str.split('/').str[0]

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 13354, dtype: object

In [8]:
# Fetaure Engineering Process on 'Date_of_Journey' column
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month']=final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year']=final_df['Date_of_Journey'].str.split('/').str[2]

In [9]:
final_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019

In [10]:
final_df['Date']=final_df['Date'].astype(int)
final_df['Month']=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [11]:
final_df.drop('Date_of_Journey',axis=1,inplace=True)

In [12]:
final_df['Arrival_Time']=final_df['Arrival_Time'].apply(lambda x : x.split(' ')[0])

In [13]:
final_df['Arrival_hour']=final_df['Arrival_Time'].str.split(':').str[0]
final_df['Arrival_min']=final_df['Arrival_Time'].str.split(':').str[1]

In [14]:
final_df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10

In [15]:
final_df['Arrival_hour']=final_df['Arrival_hour'].astype(int)
final_df['Arrival_min']=final_df['Arrival_min'].astype(int)

In [16]:
final_df.drop('Arrival_Time',axis=1,inplace=True)
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15

In [17]:
final_df['Dept_hour']=final_df['Dep_Time'].str.split(':').str[0]
final_df['Dept_min']=final_df['Dep_Time'].str.split(':').str[1]
final_df['Dept_hour']=final_df['Dept_hour'].astype(int)
final_df['Dept_min']=final_df['Dept_min'].astype(int)
final_df.drop('Dep_Time',axis=1,inplace=True)

In [18]:
final_df.dropna(axis = 0, how ='any',subset=['Route', 'Total_Stops'],inplace=True) 
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 0
Duration              0
Total_Stops           0
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_hour          0
Arrival_min           0
Dept_hour             0
Dept_min              0
dtype: int64

In [19]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13353 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13353 non-null  object
 1   Source           13353 non-null  object
 2   Destination      13353 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13353 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13353 non-null  object
 7   Price            10682 non-null  float64
 8   Date             13353 non-null  int32
 9   Month            13353 non-null  int32
 10  Year             13353 non-null  int32
 11  Arrival_hour     13353 non-null  int32
 12  Arrival_min      13353 non-null  int32
 13  Dept_hour        13353 non-null  int32
 14  Dept_min         13353 non-null  int32
dtypes: float64(1), int32(7), object(7)
memory usage: 1.3+ MB

In [20]:
final_df['Total_Stops'].value_counts().sort_values()

4 stops        2
3 stops       56
2 stops     1899
non-stop    4340
1 stop      7056
Name: Total_Stops, dtype: int64

In [21]:
l = sorted(final_df['Total_Stops'].unique())
final_df['Total_Stops'] = final_df['Total_Stops'].map({k:i+1 for i,k in enumerate(l)})
final_df['Total_Stops'].value_counts().sort_values()

4       2
3      56
2    1899
5    4340
1    7056
Name: Total_Stops, dtype: int64

In [22]:
final_df.drop('Route',axis=1,inplace=True)

In [23]:
final_df[final_df['Duration']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min
6474,Air India,Mumbai,Hyderabad,5m,2,No info,17327.0,6,3,2019,16,55,16,50
2660,Air India,Mumbai,Hyderabad,5m,2,No info,NaN,12,3,2019,16,55,16,50

In [24]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [25]:
final_df['duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]
final_df['duration_hour']=final_df['duration_hour'].astype('int')
final_df.drop('Duration',axis=1,inplace=True)

In [26]:
final_df.head(1)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,duration_hour
0,IndiGo,Banglore,New Delhi,5,No info,3897.0,24,3,2019,1,10,22,20,2

In [30]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13350 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13350 non-null  object
 1   Source           13350 non-null  object
 2   Destination      13350 non-null  object
 3   Total_Stops      13350 non-null  int64
 4   Additional_Info  13350 non-null  object
 5   Price            10680 non-null  float64
 6   Date             13350 non-null  int32
 7   Month            13350 non-null  int32
 8   Year             13350 non-null  int32
 9   Arrival_hour     13350 non-null  int32
 10  Arrival_min      13350 non-null  int32
 11  Dept_hour        13350 non-null  int32
 12  Dept_min         13350 non-null  int32
 13  duration_hour    13350 non-null  int32
dtypes: float64(1), int32(8), int64(1), object(4)
memory usage: 1.1+ MB

In [27]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [35]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [36]:
len(pd.get_dummies(final_df,columns=["Airline", "Source", "Destination","Additional_Info"] ,drop_first = True).columns)

39

In [51]:
final_df = pd.get_dummies(final_df, columns=["Airline", "Source", "Destination","Additional_Info"], drop_first = True)

In [52]:
uint_cols = final_df.select_dtypes('uint8').columns
for i in uint_cols:
    final_df[i]=final_df[i].astype(int)

In [53]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13350 entries, 0 to 2670
Data columns (total 39 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   13350 non-null  int64
 1   Price                                         10680 non-null  float64
 2   Date                                          13350 non-null  int32
 3   Month                                         13350 non-null  int32
 4   Year                                          13350 non-null  int32
 5   Arrival_hour                                  13350 non-null  int32
 6   Arrival_min                                   13350 non-null  int32
 7   Dept_hour                                     13350 non-null  int32
 8   Dept_min                                      13350 non-null  int32
 9   duration_hour                                 13350 non-null  int32
 10  Airline_Air India                             13350 non-null  int32
 11  Airline_GoAir                                 13350 non-null  int32
 12  Airline_IndiGo                                13350 non-null  int32
 13  Airline_Jet Airways                           13350 non-null  int32
 14  Airline_Jet Airways Business                  13350 non-null  int32
 15  Airline_Multiple carriers                     13350 non-null  int32
 16  Airline_Multiple carriers Premium economy     13350 non-null  int32
 17  Airline_SpiceJet                              13350 non-null  int32
 18  Airline_Trujet                                13350 non-null  int32
 19  Airline_Vistara                               13350 non-null  int32
 20  Airline_Vistara Premium economy               13350 non-null  int32
 21  Source_Chennai                                13350 non-null  int32
 22  Source_Delhi                                  13350 non-null  int32
 23  Source_Kolkata                                13350 non-null  int32
 24  Source_Mumbai                                 13350 non-null  int32
 25  Destination_Cochin                            13350 non-null  int32
 26  Destination_Delhi                             13350 non-null  int32
 27  Destination_Hyderabad                         13350 non-null  int32
 28  Destination_Kolkata                           13350 non-null  int32
 29  Destination_New Delhi                         13350 non-null  int32
 30  Additional_Info_1 Short layover               13350 non-null  int32
 31  Additional_Info_2 Long layover                13350 non-null  int32
 32  Additional_Info_Business class                13350 non-null  int32
 33  Additional_Info_Change airports               13350 non-null  int32
 34  Additional_Info_In-flight meal not included   13350 non-null  int32
 35  Additional_Info_No Info                       13350 non-null  int32
 36  Additional_Info_No check-in baggage included  13350 non-null  int32
 37  Additional_Info_No info                       13350 non-null  int32
 38  Additional_Info_Red-eye flight                13350 non-null  int32
dtypes: float64(1), int32(37), int64(1)
memory usage: 2.2 MB

## train test split

In [54]:
df_train1 = final_df[~final_df['Price'].isnull()]
df_test1 = final_df[final_df['Price'].isnull()]
print(df_train1.shape)
print(df_test1.shape)

(10680, 39)
(2670, 39)

In [55]:
X=df_train1.drop('Price',axis=1)
print(X.shape)
X.head()

(10680, 38)

,Total_Stops,Date,Month,Year,Arrival_hour,Arrival_min,Dept_hour,Dept_min,duration_hour,Airline_Air India,...,Destination_New Delhi,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,5,24,3,2019,1,10,22,20,2,0,...,1,0,0,0,0,0,0,0,1,0
1,2,1,5,2019,13,15,5,50,7,1,...,0,0,0,0,0,0,0,0,1,0
2,2,9,6,2019,4,25,9,25,19,0,...,0,0,0,0,0,0,0,0,1,0
3,1,12,5,2019,23,30,18,5,5,0,...,0,0,0,0,0,0,0,0,1,0
4,1,1,3,2019,21,35,16,50,4,0,...,1,0,0,0,0,0,0,0,1,0

In [56]:
y=df_train1['Price']
print(y.shape)
y.head()

(10680,)

0     3897.0
1     7662.0
2    13882.0
3     6218.0
4    13302.0
Name: Price, dtype: float64

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [58]:
# feature Scaling 
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

## Building Model

In [59]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
class Metrics:
    def evaluate(self, model, features, target):
        ypred = model.predict(features)
        mae = mean_absolute_error(y_true=target, y_pred=ypred)
        mse = mean_squared_error(y_true=target, y_pred=ypred)
        r2 = r2_score(y_true=target, y_pred=ypred)*100
        print(f"MAE :: {mae: .4f}")
        print(f"MSE :: {mse: .4f}")
        print(f"R2 :: {r2: .4f}")
        return [np.round(mae, 4), np.round(mse, 4), np.round(r2, 4)]
evaluator = Metrics()

In [60]:
Linearmodel = LinearRegression()
Linearmodel.fit(X_train, y_train)

LinearRegression()

In [61]:
print("Linear Regression Model")
print("Error Metrics for train set")
evaluator = Metrics()
evaluator.evaluate(Linearmodel, X_train, y_train)

Linear Regression Model
Error Metrics for train set
MAE ::  1826.3779
MSE ::  7292823.0269
R2 ::  65.9533

[1826.3779, 7292823.0269, 65.9533]

In [62]:
print("Linear Regression Model")
print("Error Metrics for test set")
evaluator = Metrics()
evaluator.evaluate(Linearmodel, X_test, y_test)

Linear Regression Model
Error Metrics for test set
MAE ::  1812.7534
MSE ::  6701406.5106
R2 ::  67.9452

[1812.7534, 6701406.5106, 67.9452]

In [63]:
from sklearn.neighbors import KNeighborsRegressor
knnmodel = KNeighborsRegressor(n_neighbors=7)
knnmodel.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=7)

In [64]:
print("K-Nearest Neighbor(KNN) Model")
print("Error Metrics for train set")
evaluator.evaluate(knnmodel, X_train, y_train)

K-Nearest Neighbor(KNN) Model
Error Metrics for train set
MAE ::  986.6507
MSE ::  3785986.9890
R2 ::  82.3250

[986.6507, 3785986.989, 82.325]

In [65]:
print("K-Nearest Neighbor(KNN) Model")
print("Error Metrics for test set")
evaluator.evaluate(knnmodel, X_test, y_test)

K-Nearest Neighbor(KNN) Model
Error Metrics for test set
MAE ::  1099.9413
MSE ::  3516515.9569
R2 ::  83.1795

[1099.9413, 3516515.9569, 83.1795]