### Types

### String

In [2]:
var1 = "Python56546"
var2 = 'Java'
#print(type(var2))
type(var1)

str

In [4]:
var1

'Python56546'

In [13]:
# Slicing syntax [start:stop:step]
#var1[0]
#var1[3]
#var1[:6]
#var1[6:8]
#var1[3:9:3]
#var1[-1:-6:-1]
#var1[-4:]
var1[::-1]

'64565nohtyP'

In [2]:
# methods
name = "dr john Smith"
name1 = " dr john Smith "
email = "john@yahoo.com"
#name.upper()
#name.lower()
#name.capitalize()
#name.title()
#name.swapcase()
#name.find('john')
#name.count('h')
#email.endswith('@yahoo.com')
#name.startswith('dr')
#name.split()
#email.split('@')
#email = email.replace('yahoo', 'gmail')
#email.index('gmail')
#email.isalpha()
#email.isdigit()
name1.strip()

'dr john Smith'

In [1]:
m = """my name
is hasan"""
print(m)

my name
is hasan

In [10]:
#print(len(m))
#print(m[3])
#print(m[0:6])
#print(m[7:])
#print(m.count('a'))
#print(m.find('a')) # find returns index number
print(m.replace('hasan','zaman'))

my name
is zaman

In [11]:
ls ='Uz Zaman'
fn = m+" "+ls
print(fn)

my name
is hasan Uz Zaman

### Numbers

In [54]:
num1 = 456
type(num1)

int

In [55]:
num2 = 45.67
type(num2)

float

In [58]:
num3 = 2+3j
type(num3)
#num3.real
#num3.imag

3.0

In [14]:
# Arithmetic Operators:
# Addition:       3 + 2
# Subtraction:    3 - 2
# Multiplication: 3 * 2
# Division:       3 / 2
# Floor Division: 3 // 2
# Exponent:       3 ** 2
# Modulus:        3 % 2

# Comparisons:
# Equal:            3 == 2
# Not Equal:        3 != 2
# Greater Than:     3 > 2
# Less Than:        3 < 2
# Greater or Equal: 3 >= 2
# Less or Equal:    3 <= 2

#num = 5
#print(num**2)
#print(abs(-5))
print(round(3.75, 1))

3.8

## Boolean

In [59]:
b1 = True
b2 = False
type(b2)

bool

## Type Casting or Conversion

In [60]:
age = '23'
age = int(age)
type(age)

int

In [62]:
age = float(age)
type(age)
age

23.0

In [63]:
age = complex(age)
type(age)
age

(23+0j)

In [66]:
w = 45.678
#int(w)
#complex(w)
#str(w)

'45.678'