# List []

In [17]:
# list is a data type that is mutable, Once a list has been created Elements can be modified and Individual values can be replaced
var = [23, 19, 21, 22, 31, 24, 25, 27]
var

[23, 19, 21, 22, 31, 24, 25, 27]

In [19]:
#print(max(var))
print(min(var))

19

In [2]:
# slicing
var[1]
var[1:5]

[19, 21, 22, 31]

In [3]:
# update
var[1] = 20
var[2:5] = 17, 18, 19
var

[23, 20, 17, 18, 19, 24, 25, 27]

In [4]:
# delete
del var[1]
var

[23, 17, 18, 19, 24, 25, 27]

In [5]:
del var

In [20]:
# methods
var = [23, 19, 21, 22, 31, 24, 25, 27, 27]
var1 = [45, 67, 67.5]
#var.append(32)
#var.insert(2, 20)
#var.count(27)
#var.index(27)
#var.pop()
#var.pop(1)
#var.remove(22)
#var.extend(var1)
#var.reverse()
#var.sort(reverse=False)
#var[var.index(27)] = 27.5
#var.clear()

In [13]:
l = [11,2,3,4,5,8]
l.sort()
print(l)
for i in l[:0:-1]:
    print(i)
    l.pop()
l

[2, 3, 4, 5, 8, 11]
11
8
5
4
3

[2]

In [1]:
list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_1

['History', 'Math', 'Physics', 'CompSci']

In [7]:
#print(len(list_1))
#print(list_1[1])
#print(list_1[0:3])
#list_1.append('art')
#list_1.insert(1,'biology') # insert into specific index
ls =['a','b']
list_1.insert(1,ls)
print(list_1)

['History', ['a', 'b'], 'biology', 'Math', 'Physics', 'CompSci', 'art']

In [9]:
ls1 =['c','d']
list_1.extend(ls1)
print(list_1)

['History', ['a', 'b'], 'biology', 'Math', 'Physics', 'CompSci', 'art', 'c', 'd']

In [10]:
# pop returns value that it removes from list, pop removes last item of list
p = list_1.pop()
print(p)
print(list_1)

d
['History', ['a', 'b'], 'biology', 'Math', 'Physics', 'CompSci', 'art', 'c']

In [16]:
list_2 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = sorted(list_2)
print(list_2)

['CompSci', 'History', 'Math', 'Physics']

In [20]:
print(list_2.index('Math'))

2

In [21]:
print('Math'in list_2)

True

In [22]:
for i in list_2:
    print(i)

CompSci
History
Math
Physics

In [25]:
for i in enumerate(list_2):
    print(i)

(0, 'CompSci')
(1, 'History')
(2, 'Math')
(3, 'Physics')

In [27]:
# enumerate returns index
for index, i in enumerate(list_2,start=1):
    print(index,i)

1 CompSci
2 History
3 Math
4 Physics

In [36]:
# list to string separated by coma
list_2_str = ', '.join(list_2)
print(list_2_str)

CompSci, History, Math, Physics

In [39]:
# string to list
list_3 = list_2_str.split(',')
print(list_3)

['CompSci', ' History', ' Math', ' Physics']

In [ ]:
# ways to Create Empty Lists
empty_list = []
empty_list = list()

# Shallow Copy and Deep Copy

In [1]:
var1 = [45, 67, 67.5]

In [2]:
# shallow copy
var2 = var1
var2.append(99)
print(var1)
print(var2)

[45, 67, 67.5, 99]
[45, 67, 67.5, 99]

In [3]:
var1 = [45, 67, 67.5]
var2 = [65]
var1 = var2
#var2.append(99)
print(var1)
#print(var2)

[65]

In [23]:
# deep copy
var3 = var1.copy()
var3.append(100)

In [24]:
len(var3)

5

In [25]:
s = "Python"
len(s)

6

# Tuple ()

In [40]:
# tuples immutable (meaning they cannot be changed), tuple consists of string and list, as Strings are immutable so can't change its value
tup = (45, 67, 67, "Python", True, 1+7j)
tup[1:]

(67, 67, 'Python', True, (1+7j))

In [29]:
del tup

In [41]:
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1 
print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

In [ ]:
# ways to Create Empty Tuples
empty_tuple = ()
empty_tuple = tuple()

# Set{}

In [31]:
s1 = {6,2,2,3,3,4,5}
s1

{2, 3, 4, 5, 6}

In [42]:
# methods
s1 = {6,2,2,3,3,4,5}
s2 = {6, 5, 7, 9, 8}
s3 = {1,2,3,4}
s4 = {3,4}
#s1.union(s2)
#s1.intersection(s2)
#s1.difference(s2)
#s2.difference(s1)
#s1.symmetric_difference(s2)
#s1.isdisjoint(s2)
#s3.issuperset(s4)
#s4.issubset(s3)
#s1.difference_update(s2)

In [48]:
# methods
s1 = {2,3,4}
#s1.add(45)
#s1.discard(46)
#s1.remove(4)
#s1.pop()
s1.update({4,5,6})
s1

{2, 3, 4, 5, 6}

In [42]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}
print(cs_courses)

{'History', 'CompSci', 'Physics', 'Math'}

In [43]:
# ways to Create Empty Sets
empty_set = set()

# dictionary

In [49]:
std = {'roll': 23, 'name': "Alexa Smith", 'dept': "CSE"}
std

{'roll': 23, 'name': 'Alexa Smith', 'dept': 'CSE'}

In [51]:
# access
std['name']
#std['dept']

'Alexa Smith'

In [52]:
# update
std['roll'] = 21

In [53]:
# adding new key:value
std['subs'] = ['Math', 'OS', 'Networks']
std

{'roll': 21,
 'name': 'Alexa Smith',
 'dept': 'CSE',
 'subs': ['Math', 'OS', 'Networks']}

In [58]:
# methods
#std.keys()
#std.values()
#std.items()
#std.get('dept', "NA")
std.pop('dept')

'CSE'

In [59]:
std.popitem()

('subs', ['Math', 'OS', 'Networks'])

In [60]:
std.fromkeys(['dept', 'subs'], 'default')

{'dept': 'default', 'subs': 'default'}

In [61]:
std.update({'dept': 'default', 'subs': 'default'})

In [62]:
std.setdefault(99)

In [63]:
std

{'roll': 21,
 'name': 'Alexa Smith',
 'dept': 'default',
 'subs': 'default',
 99: None}

In [45]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
print(student.get('name'))
print(student.get('email','not found'))

John
not found

In [46]:
student.update({'age':'27','phone':'017678'})
print(student)

{'name': 'John', 'age': '27', 'courses': ['Math', 'CompSci'], 'phone': '017678'}

In [47]:
student.update({'gender':'male'})
print(student)
del student['gender']
print(student)

{'name': 'John', 'age': '27', 'courses': ['Math', 'CompSci'], 'phone': '017678', 'gender': 'male'}
{'name': 'John', 'age': '27', 'courses': ['Math', 'CompSci'], 'phone': '017678'}

In [48]:
for key, value in student.items():
    print(key, value)

name John
age 27
courses ['Math', 'CompSci']
phone 017678