# WHILE LOOP

In [1]:
start, stop = 1,5
while start <= stop:
    print(start)
    start += 1

1
2
3
4
5

In [3]:
start, stop = 5,1
while start >= stop:
    print(start)
    start -= 1

5
4
3
2
1

# FOR LOOP

In [4]:
list(range(1,5))

[1, 2, 3, 4]

In [12]:
list(range(5,1,-1))

[5, 4, 3, 2]

In [6]:
for num in range(1,6):
    print(num**2)

1
4
9
16
25

In [7]:
s = 'PYTHON'
for x in s:
    print(x)

P
Y
T
H
O
N

In [8]:
std = {'name':'hasan', 'roll': 1,'dept':'CSE'}
for x in std.items():
    print(x)

('name', 'hasan')
('roll', 1)
('dept', 'CSE')

In [9]:
std = {'name':'hasan', 'roll': 1,'dept':'CSE'}
for x,y in std.items():
    print(x,y)

name hasan
roll 1
dept CSE

In [10]:
for num in [(1,2,3),(4,5,6),(7,8,9)]:
    print(num)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [11]:
for n1,n2,n3 in [(1,2,3),(4,5,6),(7,8,9)]:
    print(n1+n2+n3)

6
15
24

In [27]:
dl = [['hsasn',2,'gh'],['hsasn2',2,'gh'],['hsasn3',4,'ghf']]
dl1 = [('hsasn',2,'gh'),('hsasn2',2,'gh'),('hsasn3',4,'ghf')]
dl3=[('hsasn'),(20),('gh')]

In [13]:
print(type(dl))
print(type(dl1))

<class 'list'>
<class 'list'>

In [30]:
x=('hsasn3',5,'ghfgg')
dl.append(x)

In [31]:
for n1,n2,n3 in dl:
    print(n1,n2,n3)

hsasn 2 gh
hsasn2 2 gh
hsasn3 4 ghf
hsasn3 4 ghf
hsasn3 5 ghfgg

In [6]:
for row in [(1,2,3),(4,5,6),(7,8,9)]:
    for col in row:
        print(col, end=' ') #using end to print in the same line
        print('new')
        print() #new line
    print("finish row \n")

1 new

2 new

3 new

finish row

4 new

5 new

6 new

finish row

7 new

8 new

9 new

finish row

# BREAK

In [7]:
for num in [1,2,3,4,5]:
    if num == 3:
        print(f"found {num}")
        break
    print("not found")
print('done')

not found
not found
found 3
done

# CONTINUE

In [11]:
for num in [1,2,3,4,5]:
    if num == 4:
        print(f"skip {num}")
        continue
    print(num**2)
print('done')

1
4
9
skip 4
25
done

# ENUMERATE

In [3]:
for i,num in enumerate([1,2,3,4,5]): # using enumerate to add index
    if num == 4:
        print(f"skip {num}")
        continue
    print(i,num**2)
print('done')

0 1
1 4
2 9
skip 4
4 25
done