<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import json

In [16]:
# its a json object
state_string = '''
{ "states": [
    {
      "name": "Alabama",
      "abbreviation": "AL",
      "area_codes": ["205", "251", "256", "334", "938"]
    },
    {
      "name": "Alaska",
      "abbreviation": "AK",
      "area_codes": ["907"]
    },
    {
      "name": "Arizona",
      "abbreviation": "AZ",
      "area_codes": ["480", "520", "602", "623", "928"]
    }]}
'''

In [23]:
type(state_string)

str

In [17]:
# loading json into python dict object, json object turns into dict when loaded into python 
# more info in https://docs.python.org/3/library/json.html
# loads used to load string
data = json.loads(state_string)
print(data)

{'states': [{'name': 'Alabama', 'abbreviation': 'AL', 'area_codes': ['205', '251', '256', '334', '938']}, {'name': 'Alaska', 'abbreviation': 'AK', 'area_codes': ['907']}, {'name': 'Arizona', 'abbreviation': 'AZ', 'area_codes': ['480', '520', '602', '623', '928']}]}

In [18]:
print(type(data))
print(type(data["states"]))

<class 'dict'>
<class 'list'>

In [19]:
for i in data["states"]:
    print(i['name'])
    print(i['area_codes'])
    print(i['abbreviation'])

Alabama
['205', '251', '256', '334', '938']
AL
Alaska
['907']
AK
Arizona
['480', '520', '602', '623', '928']
AZ

In [20]:
# dumping python object into json string, dumps used to convert into json string 
for i in data["states"]:
    del i['abbreviation']

jsobj = json.dumps(data)
print(jsobj)

{"states": [{"name": "Alabama", "area_codes": ["205", "251", "256", "334", "938"]}, {"name": "Alaska", "area_codes": ["907"]}, {"name": "Arizona", "area_codes": ["480", "520", "602", "623", "928"]}]}

In [29]:
# indent means adding space to view file clearly, sort_keys=True means to sort keys alphabetically
jsobj = json.dumps(data, indent=3, sort_keys=True)
print(jsobj)

{
   "states": [
      {
         "area_codes": [
            "205",
            "251",
            "256",
            "334",
            "938"
         ],
         "name": "Alabama"
      },
      {
         "area_codes": [
            "907"
         ],
         "name": "Alaska"
      },
      {
         "area_codes": [
            "480",
            "520",
            "602",
            "623",
            "928"
         ],
         "name": "Arizona"
      }
   ]
}

In [21]:
type(jsobj)

str

In [4]:
# loading json object file states.json, load is used to pack json file into python
with open('states.json') as f:
    data = json.load(f)

In [17]:
print(type(data))

<class 'dict'>

In [8]:
for state in data['states']:
    print(state['name'], state['area_codes'])

Alabama ['205', '251', '256', '334', '938']
Alaska ['907']
Arizona ['480', '520', '602', '623', '928']
Arkansas ['479', '501', '870']
California ['209', '213', '310', '323', '408', '415', '424', '442', '510', '530', '559', '562', '619', '626', '628', '650', '657', '661', '669', '707', '714', '747', '760', '805', '818', '831', '858', '909', '916', '925', '949', '951']
Colorado ['303', '719', '720', '970']
Connecticut ['203', '475', '860', '959']
Delaware ['302']
Florida ['239', '305', '321', '352', '386', '407', '561', '727', '754', '772', '786', '813', '850', '863', '904', '941', '954']
Georgia ['229', '404', '470', '478', '678', '706', '762', '770', '912']
Hawaii ['808']
Idaho ['208']
Illinois ['217', '224', '309', '312', '331', '618', '630', '708', '773', '779', '815', '847', '872']
Indiana ['219', '260', '317', '463', '574', '765', '812', '930']
Iowa ['319', '515', '563', '641', '712']
Kansas ['316', '620', '785', '913']
Kentucky ['270', '364', '502', '606', '859']
Louisiana ['225', '318', '337', '504', '985']
Maine ['207']
Maryland ['240', '301', '410', '443', '667']
Massachusetts ['339', '351', '413', '508', '617', '774', '781', '857', '978']
Michigan ['231', '248', '269', '313', '517', '586', '616', '734', '810', '906', '947', '989']
Minnesota ['218', '320', '507', '612', '651', '763', '952']
Mississippi ['228', '601', '662', '769']
Missouri ['314', '417', '573', '636', '660', '816']
Montana ['406']
Nebraska ['308', '402', '531']
Nevada ['702', '725', '775']
New Hampshire ['603']
New Jersey ['201', '551', '609', '732', '848', '856', '862', '908', '973']
New Mexico ['505', '575']
New York ['212', '315', '332', '347', '516', '518', '585', '607', '631', '646', '680', '716', '718', '845', '914', '917', '929', '934']
North Carolina ['252', '336', '704', '743', '828', '910', '919', '980', '984']
North Dakota ['701']
Ohio ['216', '220', '234', '330', '380', '419', '440', '513', '567', '614', '740', '937']
Oklahoma ['405', '539', '580', '918']
Oregon ['458', '503', '541', '971']
Pennsylvania ['215', '267', '272', '412', '484', '570', '610', '717', '724', '814', '878']
Rhode Island ['401']
South Carolina ['803', '843', '854', '864']
South Dakota ['605']
Tennessee ['423', '615', '629', '731', '865', '901', '931']
Texas ['210', '214', '254', '281', '325', '346', '361', '409', '430', '432', '469', '512', '682', '713', '737', '806', '817', '830', '832', '903', '915', '936', '940', '956', '972', '979']
Utah ['385', '435', '801']
Vermont ['802']
Virginia ['276', '434', '540', '571', '703', '757', '804']
Washington ['206', '253', '360', '425', '509']
West Virginia ['304', '681']
Wisconsin ['262', '414', '534', '608', '715', '920']
Wyoming ['307']

In [18]:
for state in data['states']:
    del state['abbreviation']

In [19]:
# dump used to convert into json file from python object
with open('newstates.json','w') as f:
    json.dump(data, f, indent=2)

In [ ]:
# from a website
# link don't work
from urllib.request import urlopen
with urlopen("http://finance.yahoo.com/webservice/v1/symbols/allcurrencies/quote?format=json") \
    as response:
        source = response.read()

data1 = json.loads(source)
print(json.dumps(data1, indent=2))

In [28]:
with open('movie.json') as f:
    data1 = json.load(f)

In [31]:
len(data1)

3

In [36]:
data1[0]['movieinfo']['title']

'Snow White and the Seven Dwarfs'

In [52]:
for i in data1:
    print(i['movieinfo']['title'], i['movieinfo']['productioninfo']["Distributed by"], i["Country"])
    profit = float(i['movieinfo']['otherInfo']["Box office in million"]) - float(i['movieinfo']['otherInfo']["Budget in million"])
    netprofit = profit*0.1
    print(profit, netprofit)

Snow White and the Seven Dwarfs RKO Radio Pictures United States
416.51 41.651
Pinocchio Sony Pictures United States
161.4 16.14
Fantasia Marvel Pictures United States
27.2 2.72