<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Connecting-To-Database" data-toc-modified-id="Connecting-To-Database-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Connecting To Database</a></span></li><li><span><a href="#Create-Table" data-toc-modified-id="Create-Table-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create Table</a></span></li><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Adding Rows</a></span></li><li><span><a href="#Select-info" data-toc-modified-id="Select-info-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Select info</a></span></li><li><span><a href="#Updating-row" data-toc-modified-id="Updating-row-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Updating row</a></span></li><li><span><a href="#Deleting-row" data-toc-modified-id="Deleting-row-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Deleting row</a></span></li><li><span><a href="#WHERE-Clause" data-toc-modified-id="WHERE-Clause-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>WHERE Clause</a></span></li><li><span><a href="#AND,-OR,-NOT,-IN" data-toc-modified-id="AND,-OR,-NOT,-IN-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>AND, OR, NOT, IN</a></span></li><li><span><a href="#Wild-Cards-with-LIKE" data-toc-modified-id="Wild-Cards-with-LIKE-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Wild Cards with LIKE</a></span></li><li><span><a href="#Aggregate-Function" data-toc-modified-id="Aggregate-Function-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Aggregate Function</a></span></li><li><span><a href="#Group-BY" data-toc-modified-id="Group-BY-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Group BY</a></span></li><li><span><a href="#ORDER-BY" data-toc-modified-id="ORDER-BY-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>ORDER BY</a></span></li><li><span><a href="#Deleting-Table-and-Database" data-toc-modified-id="Deleting-Table-and-Database-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Deleting Table and Database</a></span></li><li><span><a href="#Closing-Database" data-toc-modified-id="Closing-Database-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Closing Database</a></span></li></ul></div>

### Connecting To Database

In [164]:
# importing sqlite3 library to create database object and connect with database
# creating database name mydatabase
# close() method used to disconnect database
import sqlite3 as sq3
conn = sq3.connect('mydatabase.sqlite3')
print(conn)
conn.close()

<sqlite3.Connection object at 0x00000269D4700240>

### Create Table

In [166]:
# cursor() invoke methods that execute SQLite statements, fetch data from result sets of queries
# without commit() method, data won't save in database
with sq3.connect('mydatabase.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute("""DROP TABLE IF EXISTS student""")
    cursor.execute("""CREATE TABLE student(roll int PRIMARY KEY, name CHAR(25), age INT, email VARCHAR(30))""")
    conn.commit()

In [167]:
cursor.execute("""CREATE TABLE student1(roll int PRIMARY KEY, name CHAR(25), age INT, email VARCHAR(30))""")
conn.commit()

In [168]:
# finding list of tables in database
tab = cursor.execute("""SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name""")
print(list(tab))

[('student',), ('student1',)]

### Adding Rows

In [169]:
with sq3.connect('mydatabase.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.execute("""INSERT INTO student VALUES(?,?,?,?)""", (4,"Tessa young",26,"tessa@yahoo.com"))
    conn.commit()

In [170]:
# executemany() used for executing multiple query
users = [(101, 'Alley Perry', 26, 'alley@yahoo.com'), 
         (102, 'John Smith', 27, 'john@gmail.com'),
         (103, "Alexa Jones", 23, "alexa@gmail.com"),
         (104, "Alley P", 26, "alley@yahoo.com"),
         (105, "John S", 27, "john@gmail.com")]
with sq3.connect('mydatabase.sqlite3') as conn:
    cursor = conn.cursor()
    cursor.executemany("""INSERT INTO student VALUES(?,?,?,?)""", users)
    conn.commit()

### Select info

In [171]:
with sq3.connect('mydatabase.sqlite3') as conn:
    cursor = conn.cursor()
    res = cursor.execute("""SELECT * FROM student""")
    print(list(res))

[(4, 'Tessa young', 26, 'tessa@yahoo.com'), (101, 'Alley Perry', 26, 'alley@yahoo.com'), (102, 'John Smith', 27, 'john@gmail.com'), (103, 'Alexa Jones', 23, 'alexa@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com'), (105, 'John S', 27, 'john@gmail.com')]

In [172]:
res1 = cursor.execute("""SELECT * FROM student""")
print(list(res1))
res2 = cursor.execute("""SELECT * FROM student""").fetchall() #fetching all row
print(list(res2))
res3 = cursor.execute("""SELECT * FROM student""").fetchone() #fetching one row
print(list(res3))
res4 = cursor.execute("""SELECT * FROM student""").fetchmany(3) #fetching specified number of rows
print(list(res4))

[(4, 'Tessa young', 26, 'tessa@yahoo.com'), (101, 'Alley Perry', 26, 'alley@yahoo.com'), (102, 'John Smith', 27, 'john@gmail.com'), (103, 'Alexa Jones', 23, 'alexa@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com'), (105, 'John S', 27, 'john@gmail.com')]
[(4, 'Tessa young', 26, 'tessa@yahoo.com'), (101, 'Alley Perry', 26, 'alley@yahoo.com'), (102, 'John Smith', 27, 'john@gmail.com'), (103, 'Alexa Jones', 23, 'alexa@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com'), (105, 'John S', 27, 'john@gmail.com')]
[4, 'Tessa young', 26, 'tessa@yahoo.com']
[(4, 'Tessa young', 26, 'tessa@yahoo.com'), (101, 'Alley Perry', 26, 'alley@yahoo.com'), (102, 'John Smith', 27, 'john@gmail.com')]

In [173]:
res = cursor.execute("""SELECT * FROM student""")
t = res.fetchone()
type(t)

tuple

In [174]:
res = cursor.execute("""SELECT * FROM student""") # data stores in res Cursor object 
while True:
    row = res.fetchone()
    if row == None:
        break
    print(row)

(4, 'Tessa young', 26, 'tessa@yahoo.com')
(101, 'Alley Perry', 26, 'alley@yahoo.com')
(102, 'John Smith', 27, 'john@gmail.com')
(103, 'Alexa Jones', 23, 'alexa@gmail.com')
(104, 'Alley P', 26, 'alley@yahoo.com')
(105, 'John S', 27, 'john@gmail.com')

In [175]:
sq = "SELECT * FROM student WHERE age>23"
res = cursor.execute(sq)
while True:
    row = cursor.fetchone()
    if row == None:
        break
    print(row)

(4, 'Tessa young', 26, 'tessa@yahoo.com')
(101, 'Alley Perry', 26, 'alley@yahoo.com')
(102, 'John Smith', 27, 'john@gmail.com')
(104, 'Alley P', 26, 'alley@yahoo.com')
(105, 'John S', 27, 'john@gmail.com')

### Updating row

In [176]:
cursor.execute("""UPDATE student SET roll=?, name=? WHERE roll=?""",(100,"Tessa John",4))
conn.commit()
res = cursor.execute("""SELECT * FROM student""")
print(list(res))

[(100, 'Tessa John', 26, 'tessa@yahoo.com'), (101, 'Alley Perry', 26, 'alley@yahoo.com'), (102, 'John Smith', 27, 'john@gmail.com'), (103, 'Alexa Jones', 23, 'alexa@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com'), (105, 'John S', 27, 'john@gmail.com')]

In [177]:
# updating multiple row
cursor.execute("""UPDATE student SET age=? WHERE roll IN (?,?)""",(25,101,102))
conn.commit()
res = cursor.execute("""SELECT * FROM student""")
print(list(res))

[(100, 'Tessa John', 26, 'tessa@yahoo.com'), (101, 'Alley Perry', 25, 'alley@yahoo.com'), (102, 'John Smith', 25, 'john@gmail.com'), (103, 'Alexa Jones', 23, 'alexa@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com'), (105, 'John S', 27, 'john@gmail.com')]

### Deleting row

In [178]:
# using coma after one argument here (114,) as it won't take single argument, without coma will give error
cursor.execute("""DELETE FROM student WHERE roll=?""",(100,))
conn.commit()
res = cursor.execute("""SELECT * FROM student""")
print(list(res))

[(101, 'Alley Perry', 25, 'alley@yahoo.com'), (102, 'John Smith', 25, 'john@gmail.com'), (103, 'Alexa Jones', 23, 'alexa@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com'), (105, 'John S', 27, 'john@gmail.com')]

In [179]:
cursor.execute("""DELETE FROM student WHERE roll=105""")
conn.commit()
res = cursor.execute("""SELECT * FROM student""")
print(list(res))

[(101, 'Alley Perry', 25, 'alley@yahoo.com'), (102, 'John Smith', 25, 'john@gmail.com'), (103, 'Alexa Jones', 23, 'alexa@gmail.com'), (104, 'Alley P', 26, 'alley@yahoo.com')]

### WHERE Clause

In [180]:
res = cursor.execute("""SELECT * FROM student WHERE age>?""",(25,))
print(list(res))

[(104, 'Alley P', 26, 'alley@yahoo.com')]

### AND, OR, NOT, IN

In [181]:
res = cursor.execute("""SELECT * FROM student WHERE age>? AND NOT roll>=?""",(24,102))
print(list(res))

[(101, 'Alley Perry', 25, 'alley@yahoo.com')]

### Wild Cards with LIKE

In [182]:
# 1st query finds name ending with y, 2nd query finds name starting with j, 3rd query finds name having l on 3rd position in name
# 4th query finds email with yahoo in it, using upper or lower case wil give same result as LIKE is case insensitive
res = cursor.execute("""SELECT * FROM student WHERE name LIKE '%y'""")
print(list(res))
res = cursor.execute("""SELECT * FROM student WHERE name LIKE 'jo%'""")
print(list(res))
res = cursor.execute("""SELECT * FROM student WHERE name LIKE '__l%'""")
print(list(res))
res = cursor.execute("""SELECT * FROM student WHERE email LIKE '%yahoo%'""")
print(list(res))

[(101, 'Alley Perry', 25, 'alley@yahoo.com')]
[(102, 'John Smith', 25, 'john@gmail.com')]
[(101, 'Alley Perry', 25, 'alley@yahoo.com'), (104, 'Alley P', 26, 'alley@yahoo.com')]
[(101, 'Alley Perry', 25, 'alley@yahoo.com'), (104, 'Alley P', 26, 'alley@yahoo.com')]

### Aggregate Function

In [183]:
res = cursor.execute("""SELECT MAX(age), MIN(age), AVG(age), SUM(age), COUNT(*) FROM student""")
print(list(res))

[(26, 23, 24.75, 99, 4)]

### Group BY

In [184]:
res = cursor.execute("""SELECT COUNT(*), age FROM student GROUP BY age""")
print(list(res))

[(1, 23), (2, 25), (1, 26)]

### ORDER BY

In [185]:
res = cursor.execute("""SELECT * FROM student ORDER BY age DESC, roll ASC""")
for user in res:
    print(user)

(104, 'Alley P', 26, 'alley@yahoo.com')
(101, 'Alley Perry', 25, 'alley@yahoo.com')
(102, 'John Smith', 25, 'john@gmail.com')
(103, 'Alexa Jones', 23, 'alexa@gmail.com')

### Deleting Table and Database

In [186]:
# deleting table
cursor.execute("""SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name""")
print(cursor.fetchall())
cursor.execute("""DROP TABLE student1""")
conn.commit()
cursor.execute("""SELECT name FROM sqlite_schema WHERE type='table' ORDER BY name""")
print(cursor.fetchall())

[('student',), ('student1',)]
[('student',)]

In [161]:
# first creating sample database, closing database before delete
conn1 = sq3.connect('testdatabase.sqlite3')
print(conn1)
conn1.close()

<sqlite3.Connection object at 0x00000269D4697A40>

In [162]:
# database can't be delete using query in sqlite3, have to remove using os module
import os
os.getcwd()
os.remove('testdatabase.sqlite3')

### Closing Database

In [163]:
conn.close()