<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-MySQL-Connector/Python" data-toc-modified-id="Import-MySQL-Connector/Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import MySQL Connector/Python</a></span><ul class="toc-item"><li><span><a href="#Creating-Database" data-toc-modified-id="Creating-Database-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Creating Database</a></span></li><li><span><a href="#Creating-tables" data-toc-modified-id="Creating-tables-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Creating tables</a></span></li><li><span><a href="#inserting-data" data-toc-modified-id="inserting-data-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>inserting data</a></span></li><li><span><a href="#select-statement" data-toc-modified-id="select-statement-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>select statement</a></span></li><li><span><a href="#Update" data-toc-modified-id="Update-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Update</a></span></li><li><span><a href="#Delete" data-toc-modified-id="Delete-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Delete</a></span></li><li><span><a href="#Filtering-and-sorting-data" data-toc-modified-id="Filtering-and-sorting-data-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Filtering and sorting data</a></span></li><li><span><a href="#Performing-different-JOIN-operations-in-MySQL" data-toc-modified-id="Performing-different-JOIN-operations-in-MySQL-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Performing different JOIN operations in MySQL</a></span></li><li><span><a href="#MySQL-functions-with-Python" data-toc-modified-id="MySQL-functions-with-Python-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>MySQL functions with Python</a></span></li><li><span><a href="#Working-with-date-and-time-functions-in-Python" data-toc-modified-id="Working-with-date-and-time-functions-in-Python-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Working with date and time functions in Python</a></span></li><li><span><a href="#Accessing-stored-procedures" data-toc-modified-id="Accessing-stored-procedures-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Accessing stored procedures</a></span></li><li><span><a href="#Python/MySQL-connection-pooling" data-toc-modified-id="Python/MySQL-connection-pooling-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Python/MySQL connection pooling</a></span></li><li><span><a href="#Cursor-subclasses" data-toc-modified-id="Cursor-subclasses-1.13"><span class="toc-item-num">1.13&nbsp;&nbsp;</span>Cursor subclasses</a></span></li><li><span><a href="#Droping-database" data-toc-modified-id="Droping-database-1.14"><span class="toc-item-num">1.14&nbsp;&nbsp;</span>Droping database</a></span></li></ul></li><li><span><a href="#Closing-cursor-and-connection" data-toc-modified-id="Closing-cursor-and-connection-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Closing cursor and connection</a></span></li></ul></div>

# Import MySQL Connector/Python

In [1]:
import mysql.connector as connector

try:
    #conn = connector.connect(host="localhost", user="root", password='2022', auth_plugin='mysql_native_password')
    #conn = mysql.connector.connect(user='root', password='2022', host='127.0.0.1', database='luckyshrub_db', auth_plugin='mysql_native_password')
    conn = connector.connect(user="root", password='2022', auth_plugin='mysql_native_password')
    print("A connection between MySQL and Python is successfully established")
except connector.Error as er:
    print("There is a problem connecting to the database")
    print("Error code:", er.errno)
    print("Error message:", er.msg)

A connection between MySQL and Python is successfully established

In [2]:
cursor = conn.cursor()
cursor.execute("SHOW DATABASES;")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('cursorsubclass',)
('employeedb',)
('information_schema',)
('little_lemon',)
('luckyshrub_db',)
('mysql',)
('performance_schema',)
('students',)
('sys',)

## Creating Database

In [3]:
# If exist drop database first 
cursor.execute("DROP DATABASE IF EXISTS little_lemon")

# Create database little_lemon and checking all databases
cursor.execute("CREATE DATABASE little_lemon")
cursor.execute("SHOW DATABASES;")
for database in cursor:
    print(database)

('cursorsubclass',)
('employeedb',)
('information_schema',)
('little_lemon',)
('luckyshrub_db',)
('mysql',)
('performance_schema',)
('students',)
('sys',)

In [4]:
# Set little_lemon database for use 
cursor.execute("USE little_lemon;")
# Confirm database in use
conn.database

'little_lemon'

## Creating tables

In [5]:
# The SQL query for MenuItems table is: 
query = """CREATE TABLE MenuItems (ItemID INT, Name VARCHAR(200), Type VARCHAR(100), Price INT, PRIMARY KEY (ItemID));"""
# Create MenuItems table
cursor.execute(query)

query1 = """CREATE TABLE Menus (MenuID INT, ItemID INT, Cuisine VARCHAR(100), PRIMARY KEY (MenuID,ItemID));"""
query2 = """CREATE TABLE Orders (OrderID INT, TableNo INT, MenuID INT, BookingID INT, BillAmount INT, Quantity INT, PRIMARY KEY (OrderID,TableNo));"""
# executing multiple queries
ql = [query1, query2]
for i in ql:
    cursor.execute(i)

# Confirm if tables is created
cursor.execute("SHOW TABLES;")
for table in cursor:
    print(table)

('menuitems',)
('menus',)
('orders',)

In [22]:
create_booking_table = """CREATE TABLE Bookings(BookingID INT AUTO_INCREMENT, TableNo INT, GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL, BookingSlot TIME NOT NULL, EmployeeID INT, PRIMARY KEY (BookingID));"""
cursor.execute(create_booking_table)

## inserting data

In [6]:
# Set little_lemon database for use 
# commit module makes sure that appropriate table is updated with new data once SQL query is executed using Python
cursor.execute("USE little_lemon;")
insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3,'Minestrone', 'Starters', 8),
(4,'Tomato bread','Starters', 8),
(5,'Falafel', 'Starters', 7);"""

insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian');"""

insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print("Inserting data in MenuItems table")
cursor.execute(insert_menuitmes)
print("Total number of rows in MenuItem table: ", cursor.rowcount)
conn.commit()

print("Inserting data in Menus table")
cursor.execute(insert_menu)
print("Total number of rows in Menu table: ", cursor.rowcount)
conn.commit()

print("Inserting data in Orders table")
cursor.execute(insert_orders)
print("Total number of rows in Orders table: ", cursor.rowcount)
conn.commit()

Inserting data in MenuItems table
Total number of rows in MenuItem table:  5
Inserting data in Menus table
Total number of rows in Menu table:  5
Inserting data in Orders table
Total number of rows in Orders table:  5

In [23]:
insert_bookings ="""INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""
cursor.execute(insert_bookings)
conn.commit()

## select statement

In [7]:
all_menus = """SELECT * FROM Menus;"""
cursor.execute(all_menus)
results = cursor.fetchmany(size=3)
cols = cursor.column_names
# Print column names and records from results using for loop
print("""Data in the "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')

In [8]:
# After grabbing first three records, cursor will be at fourth record and can call `fetchall()` to grab them
# Remaining records after fetching the first three
results= cursor.fetchall()
for result in results:
    print(result)

(1, 13, 'Greek')
(2, 3, 'Italian')

In [25]:
# closing cursor 
if conn.is_connected():
    cursor.close()
    print("The cursor is closed")
else:
    print("cursor is already closed")

The cursor is closed

In [ ]:
cursor.execute("USE luckyshrub_db;")
cursor.execute("SELECT * FROM employees;")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

## Update

In [9]:
update_MenuItems = """UPDATE MenuItems SET Price=10 WHERE ItemID = 5;"""
# Execute query to update table
print("Executing update query")
cursor.execute(update_MenuItems)
conn.commit()
print("Record is updated in table")

Executing update query
Record is updated in table

In [10]:
all_MenuItems = """SELECT * FROM MenuItems;"""
cursor.execute(all_MenuItems)
results = cursor.fetchall()
cols = cursor.column_names
print("Data in MenuItems table")
print(cols)
for result in results:  
    print(result)

Data in MenuItems table
('ItemID', 'Name', 'Type', 'Price')
(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)
(5, 'Falafel', 'Starters', 10)

In [19]:
update_Menus = """UPDATE Menus SET ItemID=5 WHERE ItemID = 7;"""
# Execute query to update table
cursor.execute(update_Menus)
conn.commit()
print("Executed update query")
all_MenuItems = """SELECT * FROM Menus;"""
cursor.execute(all_MenuItems)
results = cursor.fetchall()
cols = cursor.column_names
print("Data in Menus table")
print(cols)
for result in results:  
    print(result)

Executed update query
Data in Menus table
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 5, 'Greek')
(1, 10, 'Greek')
(1, 13, 'Greek')

## Delete

In [12]:
delete_query ="""DELETE FROM Menus WHERE Cuisine = 'Italian';"""
print("Executing 'DELETE' query")
cursor.execute(delete_query)
conn.commit()
print("table is updated after deletion of requested records")

Executing 'DELETE' query
table is updated after deletion of requested records

In [13]:
all_menus = """SELECT * FROM Menus;"""
cursor.execute(all_menus)
results = cursor.fetchall()
cols = cursor.column_names
print("""Data in "Menu" table:""")
print(cols)
for result in results:
    print(result)

Data in "Menu" table:
('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')
(1, 13, 'Greek')

## Filtering and sorting data

In [14]:
filtering_and_sorting = """SELECT * FROM MenuItems WHERE price = 8;"""
cursor.execute(filtering_and_sorting)
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('ItemID', 'Name', 'Type', 'Price')
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)

In [15]:
filtering_and_sorting = """SELECT BookingID, BillAmount FROM Orders ORDER BY BillAmount DESC;"""
cursor.execute(filtering_and_sorting)
results = cursor.fetchmany(size=2)
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('BookingID', 'BillAmount')
(1, 86)
(5, 43)

## Performing different JOIN operations in MySQL

In [20]:
join_query="""SELECT MenuItems.Name AS Item_Name, MenuItems.Type AS Item_Type, Menus.Cuisine AS Cuisine, MenuItems.Price AS Price 
FROM MenuItems INNER JOIN Menus ON MenuItems.ItemID=Menus.ItemID;"""
cursor = conn.cursor()
cursor.execute("USE little_lemon;")
cursor.execute(join_query)
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('Item_Name', 'Item_Type', 'Cuisine', 'Price')
('Olives', 'Starters', 'Greek', 5)
('Falafel', 'Starters', 'Greek', 10)

## MySQL functions with Python

In [24]:
sql_query ="""SELECT BookingID AS ID, UPPER(CONCAT(GuestFirstName,' ',GuestLastName)) AS GuestFullName FROM bookings;"""
cursor.execute(sql_query)
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
print()
for result in results:
    print(result)

('ID', 'GuestFullName')

(1, 'ANNA IVERSEN')
(2, 'JOAKIM IVERSEN')
(3, 'VANESSA MCCARTHY')
(4, 'MARCOS ROMERO')
(5, 'HIROKI YAMANE')
(6, 'DIANA PINTO')

In [30]:
sql_query ="""SELECT COUNT(BookingID) AS n_bookings, SUM(BillAmount) AS Total_sale, AVG(BillAmount) AS Avg_sale FROM Orders;"""
cursor.execute(sql_query)
results = cursor.fetchall()
print("Today's statistics:")
for result in results:
    print("Number of bookings:",result[0])
    print("Total sale:",result[1])
    print("Average sale:",result[2])

Today's statistics:
Number of bookings: 5
Total sale: 243
Average sale: 48.6000

In [31]:
sql_query ="""SELECT TableNo AS 'Table number', COUNT(TableNo) AS n_booking FROM Bookings GROUP BY TableNo ORDER BY n_booking DESC;"""
cursor.execute(sql_query)
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('Table number', 'n_booking')
(12, 2)
(19, 1)
(15, 1)
(5, 1)
(8, 1)

In [32]:
sql_query ="""SELECT BookingID, CONCAT(GuestFirstName,' ',GuestLastName) AS Guest_Name,
CASE
WHEN HOUR(BookingSlot) IN (15,16) THEN "Late afternoon" 
WHEN HOUR(BookingSlot) IN (17,18) THEN "Evening" 
WHEN HOUR(BookingSlot) IN (19,20) THEN "Night"
ELSE "Time not available" 
END AS Arrival_slot FROM Bookings;"""

cursor.execute(sql_query)
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('BookingID', 'Guest_Name', 'Arrival_slot')
(1, 'Anna Iversen', 'Night')
(2, 'Joakim Iversen', 'Night')
(3, 'Vanessa McCarthy', 'Late afternoon')
(4, 'Marcos Romero', 'Evening')
(5, 'Hiroki Yamane', 'Evening')
(6, 'Diana Pinto', 'Night')

## Working with date and time functions in Python

In [36]:
sql_query = """SELECT COUNT(BookingID) AS n_bookings, HOUR(BookingSlot) AS Hour FROM Bookings GROUP BY Hour ORDER BY Hour ASC;"""
cursor.execute(sql_query)
results = cursor.fetchall()
print(results)
print("""Upcoming Bookings:\n""")
for result in results:
    print("Hour: ",result[1],"<<>>", result[0], "Booking/s")

[(1, 15), (1, 17), (1, 18), (2, 19), (1, 20)]
Upcoming Bookings:

Hour:  15 <<>> 1 Booking/s
Hour:  17 <<>> 1 Booking/s
Hour:  18 <<>> 1 Booking/s
Hour:  19 <<>> 2 Booking/s
Hour:  20 <<>> 1 Booking/s

In [38]:
import datetime as dt 
sql_query = """SELECT TableNo, GuestFirstName, GuestLastName, BookingSlot FROM Bookings ORDER BY BookingSlot;"""
cursor.execute(sql_query)
results = cursor.fetchall()
print(results)
print("The guests and their booking slots are:\n")
for result in results: 
    time = str(result[3])
    hour = dt.datetime.strptime(time,'%H:%M:%S').hour
    minute = dt.datetime.strptime(time,'%H:%M:%S').minute
    print("[Table no:]",result[0],">>",result[1],result[2], "is expected to arrive at:",hour,"hrs and", minute, "mins")

[(19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000)), (15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000)), (5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600)), (12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400)), (12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400)), (8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000))]
The guests and their booking slots are:

[Table no:] 19 >> Vanessa McCarthy is expected to arrive at: 15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at: 17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at: 18 hrs and 30 mins
[Table no:] 12 >> Anna Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 12 >> Joakim Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 8 >> Diana Pinto is expected to arrive at: 20 hrs and 0 mins

In [39]:
sql_query = """SELECT BookingID, TableNo, BookingSlot, ADDTIME(BookingSlot,"1:00:00") as NewTime FROM Bookings
WHERE TableNo = 12 AND BookingID = 2;"""

cursor.execute(sql_query)
results = cursor.fetchall()
print("Booking time change ALERT!!")
for result in results:  
    print("Booking ID:",result[0])
    print("Table number:",result[1])
    print("Booked slot:",result[2])
    print("New arrival time:",result[3])

Booking time change ALERT!!
Booking ID: 2
Table number: 12
Booked slot: 19:00:00
New arrival time: 20:00:00

## Accessing stored procedures

In [3]:
cursor.execute("USE little_lemon;")
stored_procedure_query ="""CREATE PROCEDURE TopSpender()
BEGIN SELECT bookings.BookingID, CONCAT(bookings.GuestFirstname,' ',bookings.GuestLastname) AS CustomerName,
Orders.BillAmount FROM Bookings INNER JOIN Orders ON bookings.BookingID=Orders.BookingID ORDER BY BillAmount DESC LIMIT 1;
END"""

cursor.execute(stored_procedure_query)
# Calling stored procedure with its name
cursor.callproc("TopSpender")
# Retrieve recrods in "dataset"
results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a 'for' loop 
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

for data in dataset:
    print(data)

['BookingID', 'CustomerName', 'BillAmount']
(1, 'Anna Iversen', 86)

In [4]:
cursor.execute("DROP PROCEDURE IF EXISTS TopSpender;")

In [15]:
stored_procedure_query ="""CREATE PROCEDURE OrderStatus()
BEGIN SELECT bookingID, CASE
WHEN employeeID IN (1,2,3) THEN "Order Served" 
WHEN employeeID IN (4,5) THEN "Preparing Order" 
ELSE "In Queue" 
END AS Status
FROM Bookings;
END"""

cursor.execute(stored_procedure_query)
cursor.callproc("OrderStatus")
results = next(cursor.stored_results())
dataset = results.fetchall()
for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description ]
print(columns)

for data in dataset:
    print(data)

['bookingID', 'Status']
(1, 'Order Served')
(2, 'Order Served')
(3, 'Order Served')
(4, 'Preparing Order')
(5, 'Order Served')
(6, 'Preparing Order')

In [16]:
cursor.execute("DROP PROCEDURE IF EXISTS OrderStatus;")

## Python/MySQL connection pooling

In [17]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
dbconfig = {"database":"little_lemon", "user" : "root", "password" : "2022"}
try:
    pool = MySQLConnectionPool(pool_name = "new_pool", pool_size = 3, **dbconfig) # default pool_size is 5
    print("The connection pool is created with a name: ", pool.pool_name)
    print("The pool size is: ", pool.pool_size)
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  new_pool
The pool size is:  3

In [18]:
from mysql.connector.pooling import MySQLConnectionPool
dbconfig = {"database":"little_lemon", "user" : "root", "password" : "2022"}
pool = MySQLConnectionPool(pool_name = "new_pool", pool_size = 3, **dbconfig) # default pool_size is 5

print("Getting a connection from pool")
connection1 = pool.get_connection()
# connection_id attribute provides a unique ID for each connection in connection pool
print("A user with connection id {} is connected to the database.".format(connection1.connection_id))

Getting a connection from pool
A user with connection id 12 is connected to the database.

In [19]:
db_Info = connection1.get_server_info()
print("MySQL server version is:", db_Info)

MySQL server version is: 8.0.31

In [20]:
# Create cursor object to communicate with entire MySQL database
cursor = connection1.cursor()
print("Created a cursor object")

sql_query = "SELECT BookingId, GuestFirstName, GuestLastName FROM Bookings;"
cursor.execute(sql_query)
results = cursor.fetchall()
cols = cursor.column_names
print("""Upcoming Bookings are:\n""")
print(cols)
for result in results:
    print(result)
    
connection1.close()
print("connection is placed back into pool for next user to connect")

Created a cursor object
Upcoming Bookings are:

('BookingId', 'GuestFirstName', 'GuestLastName')
(1, 'Anna', 'Iversen')
(2, 'Joakim', 'Iversen')
(3, 'Vanessa', 'McCarthy')
(4, 'Marcos', 'Romero')
(5, 'Hiroki', 'Yamane')
(6, 'Diana', 'Pinto')
connection is placed back into pool for next user to connect

In [21]:
# Create a connection pool
from mysql.connector.pooling import MySQLConnectionPool
dbconfig = {"database":"little_lemon", "user" : "root", "password" : "2022"}
pool = MySQLConnectionPool(pool_name = "new_pool", pool_size = 3, **dbconfig) 

# List of guests who want to connect to database
guests = ["Anna", "Marcos", "Diana", "Joakim", "Hiroki"]

# To add connection to pool, connection must be of MySQLConnection instance 
# Also possible to create via connect module and need import below
import mysql.connector as connector

# Assign connection to each user
for guest in guests:
    try:
        guest_connected = pool.get_connection()
        print("[{}] is connected.\n".format(guest))
    except:
        print("No more connections are available")
        print("Adding new connection in pool")
        
        connection = connector.connect(user="root",password="2022")
        # Adding connection into pool
        pool.add_connection(cnx=connection)
        print("A new connection is added in pool\n")
        
        user_connected = pool.get_connection()
        print("[{}] is connected\n".format(guest))

[Anna] is connected.

[Marcos] is connected.

[Diana] is connected.

No more connections are available
Adding new connection in pool
A new connection is added in pool

[Joakim] is connected

No more connections are available
Adding new connection in pool
A new connection is added in pool

[Hiroki] is connected

## Cursor subclasses

In [ ]:
# here rowcount is a Cursor subclass
cursor.execute("CREATE DATABASE IF NOT EXISTS cursorsubclass;")
cursor.execute("USE cursorsubclass;")
cursor.execute("CREATE TABLE customers(name VARCHAR(10), address VARCHAR(10));")
query = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [("John", "Highway 21"), ("Mike", "Highway 25")]
cursor.executemany(query, val)
conn.commit()
print(cursor.rowcount, " record inserted")

In [ ]:
# recommanded to use buffered=True for select statement when SQL requests is taking part of a SQL query result and use it to make a
# subsequent request from a database, otherwise will give "Unread result found" error, then have to run first cell again to work with database
# buffered=True means that cursor can now execute subsequent queries without fetching all records from cursor
# here column_names is a Cursor subclass
cursor = conn.cursor(buffered = True)
cursor.execute("USE cursorsubclass;")
cursor.execute("SELECT * FROM customers;")
print(cursor.column_names, " are names of columns")

In [ ]:
cursor.description

In [ ]:
# Display columns
print('\nColumns in customer table:')
cursor.execute('''SELECT * FROM customers;''')
for i in cursor.description:
    print(i[0])

In [ ]:
# Display data
print('\nData in customer table:')
cursor.execute('''SELECT * FROM customers;''')
for row in cursor:
    print(row)

In [ ]:
# retrieve first record from database using fetchone module after executing SQL query
cursor.execute("USE cursorsubclass;")
cursor.execute("SELECT * FROM customers;")
res = cursor.fetchone()
res

In [ ]:
# Create a cursor object with dictionary=True, it is a cursor subclass
dic_cursor = conn.cursor(dictionary=True)
dic_cursor.execute("use little_lemon")

# Execute SQL query to get name of tables
dic_cursor.execute("show tables;")

# Retrieve query results in a variable ‘results’
results = dic_cursor.fetchall()

# Use for loop to print names of all tables 
for table in results:
    print(table)

In [ ]:
# Create a cursor object with raw=True, it is a cursor subclass
cursor1 = conn.cursor(raw=True)
cursor1.execute("use little_lemon")

# Execute SQL query to get name of tables
cursor1.execute("show tables;")

# Retrieve query results in a variable ‘results’
results = cursor1.fetchall()

# Use for loop to print names of all tables 
for table in results:
    print(table)

## Droping database

In [ ]:
cursor.execute("DROP DATABASE cursorsubclass;")

# Closing cursor and connection

In [ ]:
if conn.is_connected():
    conn.close()
    print("MySQL connection is closed")
else:
    print("Connection is already closed")