# Import MySQL Connector/Python

In [1]:
import mysql.connector as connector

try:
    #conn = connector.connect(host="localhost", user="root", password='2022', auth_plugin='mysql_native_password')
    #conn = mysql.connector.connect(user='root', password='2022', host='127.0.0.1', database='luckyshrub_db', auth_plugin='mysql_native_password')
    conn = connector.connect(user="root", password='2022', auth_plugin='mysql_native_password')
    print("A connection between MySQL and Python is successfully established")
except connector.Error as er:
    print("There is a problem connecting to the database")
    print("Error code:", er.errno)
    print("Error message:", er.msg)

A connection between MySQL and Python is successfully established

In [2]:
cursor = conn.cursor()
cursor.execute("SHOW DATABASES;")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

('cursorsubclass',)
('employeedb',)
('information_schema',)
('little_lemon',)
('luckyshrub_db',)
('mysql',)
('performance_schema',)
('students',)
('sys',)

## Creating Database

In [3]:
# If exist drop database first 
cursor.execute("DROP DATABASE IF EXISTS little_lemon")

# Create database little_lemon and checking all databases
cursor.execute("CREATE DATABASE little_lemon")
cursor.execute("SHOW DATABASES;")
for database in cursor:
    print(database)

('employeedb',)
('information_schema',)
('little_lemon',)
('luckyshrub_db',)
('mysql',)
('performance_schema',)
('students',)
('sys',)

In [4]:
# Set little_lemon database for use 
cursor.execute("USE little_lemon;")
# Confirm database in use
conn.database

'little_lemon'

## Creating tables

In [5]:
# The SQL query for MenuItems table is: 
query = """CREATE TABLE MenuItems (ItemID INT AUTO_INCREMENT, Name VARCHAR(200), Type VARCHAR(100), Price INT, PRIMARY KEY (ItemID));"""
# Create MenuItems table
cursor.execute(query)

query1 = """CREATE TABLE Menus (MenuID INT, ItemID INT, Cuisine VARCHAR(100), PRIMARY KEY (MenuID,ItemID));"""
query2 = """CREATE TABLE Orders (OrderID INT, TableNo INT, MenuID INT, BookingID INT, BillAmount INT, Quantity INT, PRIMARY KEY (OrderID,TableNo));"""
# executing multiple queries
ql = [query1, query2]
for i in ql:
    cursor.execute(i)

# Confirm if tables is created
cursor.execute("SHOW TABLES;")
for table in cursor:
    print(table)

('menuitems',)
('menus',)
('orders',)

## select statement

In [6]:
cursor.execute("USE luckyshrub_db;")
cursor.execute("SELECT * FROM employees;")
myresult = cursor.fetchall()
for x in myresult:
    print(x)

(1, 'Seamus Hogan', 'Recruitment', '351478025', 'Seamus.h@luckyshrub.com', 50000)
(2, 'Thomas Eriksson', 'Legal', '351475058', 'Thomas.e@luckyshrub.com', 75000)
(3, 'Simon Tolo', 'Marketing', '351930582', 'Simon.t@luckyshrub.com', 40000)
(4, 'Francesca Soffia', 'Finance', '351258569', 'Francesca.s@luckyshrub.com', 45000)
(5, 'Emily Sierra', 'Customer Service', '351083098', 'Emily.s@luckyshrub.com', 35000)
(6, 'Maria Carter', 'Human Resources', '351022508', 'Maria.c@luckyshrub.com', 55000)
(7, 'Rick Griffin', 'Marketing', '351478458', 'Rick.G@luckyshrub.com', 50000)

## Cursor subclasses

In [5]:
# here rowcount is a Cursor subclass
cursor.execute("CREATE DATABASE IF NOT EXISTS cursorsubclass;")
cursor.execute("USE cursorsubclass;")
cursor.execute("CREATE TABLE customers(name VARCHAR(10), address VARCHAR(10));")
query = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [("John", "Highway 21"), ("Mike", "Highway 25")]
cursor.executemany(query, val)
conn.commit()
print(cursor.rowcount, " record inserted")

2  record inserted

In [6]:
# recommanded to use buffered=True for select statement when SQL requests is taking part of a SQL query result and use it to make a
# subsequent request from a database, otherwise will give "Unread result found" error, then have to run first cell again to work with database
# buffered=True means that cursor can now execute subsequent queries without fetching all records from cursor
# here column_names is a Cursor subclass
cursor = conn.cursor(buffered = True)
cursor.execute("USE cursorsubclass;")
cursor.execute("SELECT * FROM customers;")
print(cursor.column_names, " are names of columns")

('name', 'address')  are names of columns

In [7]:
cursor.description

[('name', 253, None, None, None, None, 1, 0, 255),
 ('address', 253, None, None, None, None, 1, 0, 255)]

In [8]:
# Display columns
print('\nColumns in customer table:')
cursor.execute('''SELECT * FROM customers;''')
for i in cursor.description:
    print(i[0])

Columns in customer table:
name
address

In [9]:
# Display data
print('\nData in customer table:')
cursor.execute('''SELECT * FROM customers;''')
for row in cursor:
    print(row)

Data in customer table:
('John', 'Highway 21')
('Mike', 'Highway 25')

In [10]:
# retrieve first record from database using fetchone module after executing SQL query
cursor.execute("USE cursorsubclass;")
cursor.execute("SELECT * FROM customers;")
res = cursor.fetchone()
res

('John', 'Highway 21')

In [12]:
# Create a cursor object with dictionary=True, it is a cursor subclass
dic_cursor = conn.cursor(dictionary=True)
dic_cursor.execute("use little_lemon")

# Execute SQL query to get name of tables
dic_cursor.execute("show tables;")

# Retrieve query results in a variable ‘results’
results = dic_cursor.fetchall()

# Use for loop to print names of all tables 
for table in results:
    print(table)

{'Tables_in_little_lemon': 'menuitems'}
{'Tables_in_little_lemon': 'menus'}
{'Tables_in_little_lemon': 'orders'}

In [13]:
# Create a cursor object with raw=True, it is a cursor subclass
cursor1 = conn.cursor(raw=True)
cursor1.execute("use little_lemon")

# Execute SQL query to get name of tables
cursor1.execute("show tables;")

# Retrieve query results in a variable ‘results’
results = cursor1.fetchall()

# Use for loop to print names of all tables 
for table in results:
    print(table)

(bytearray(b'menuitems'),)
(bytearray(b'menus'),)
(bytearray(b'orders'),)

## Droping database

In [4]:
cursor.execute("DROP DATABASE cursorsubclass;")

# Closing cursor and connection

In [14]:
if conn.is_connected():
    conn.close()
    print("MySQL connection is closed")
else:
    print("Connection is already closed")

MySQL connection is closed