<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setting-up-database" data-toc-modified-id="Setting-up-database-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setting up database</a></span><ul class="toc-item"><li><span><a href="#Establishing-a-connection" data-toc-modified-id="Establishing-a-connection-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Establishing a connection</a></span></li><li><span><a href="#Creating-a-cursor" data-toc-modified-id="Creating-a-cursor-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Creating a cursor</a></span></li><li><span><a href="#Creating-database-and-set-it-for-use" data-toc-modified-id="Creating-database-and-set-it-for-use-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Creating database and set it for use</a></span></li><li><span><a href="#Creating-MenuItems-table-in-database-and-populate-it-with-data" data-toc-modified-id="Creating-MenuItems-table-in-database-and-populate-it-with-data-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Creating MenuItems table in database and populate it with data</a></span></li><li><span><a href="#Creating-Menus-table-in-database-and-populate-it-with-data" data-toc-modified-id="Creating-Menus-table-in-database-and-populate-it-with-data-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Creating Menus table in database and populate it with data</a></span></li><li><span><a href="#Creating-Bookings-table-in-database-and-populate-it-with-data" data-toc-modified-id="Creating-Bookings-table-in-database-and-populate-it-with-data-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Creating Bookings table in database and populate it with data</a></span></li><li><span><a href="#Creating-Orders-table-in-database-and-populate-it-with-data" data-toc-modified-id="Creating-Orders-table-in-database-and-populate-it-with-data-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Creating Orders table in database and populate it with data</a></span></li><li><span><a href="#Creating-Employees-table-in-database-and-populate-it-with-data" data-toc-modified-id="Creating-Employees-table-in-database-and-populate-it-with-data-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Creating Employees table in database and populate it with data</a></span></li></ul></li><li><span><a href="#Implement-and-query-stored-procedures" data-toc-modified-id="Implement-and-query-stored-procedures-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Implement and query stored procedures</a></span><ul class="toc-item"><li><span><a href="#Creating-a-pool-named-pool_a-with-two-connections" data-toc-modified-id="Creating-a-pool-named-pool_a-with-two-connections-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creating a pool named pool_a with two connections</a></span></li><li><span><a href="#Getting-a-connection-from-pool" data-toc-modified-id="Getting-a-connection-from-pool-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Getting a connection from pool</a></span></li><li><span><a href="#Implementing-a-stored-procedure-called-PeakHours" data-toc-modified-id="Implementing-a-stored-procedure-called-PeakHours-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Implementing a stored procedure called PeakHours</a></span></li><li><span><a href="#Implementing-a-stored-procedure-called-GuestStatus" data-toc-modified-id="Implementing-a-stored-procedure-called-GuestStatus-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Implementing a stored procedure called GuestStatus</a></span></li></ul></li><li><span><a href="#Analysis-and-sales-report" data-toc-modified-id="Analysis-and-sales-report-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Analysis and sales report</a></span><ul class="toc-item"><li><span><a href="#creating-a-connection-pool" data-toc-modified-id="creating-a-connection-pool-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>creating a connection pool</a></span></li><li><span><a href="#guests-dinner-booking-slots-using-pool-connections" data-toc-modified-id="guests-dinner-booking-slots-using-pool-connections-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>guests dinner booking slots using pool connections</a></span></li><li><span><a href="#Creating-a-report-containing-following-information:" data-toc-modified-id="Creating-a-report-containing-following-information:-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Creating a report containing following information:</a></span></li><li><span><a href="#Creating-a-stored-procedure-called-BasicSalesReport-that-returns-following-statistics:" data-toc-modified-id="Creating-a-stored-procedure-called-BasicSalesReport-that-returns-following-statistics:-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Creating a stored procedure called BasicSalesReport that returns following statistics:</a></span></li><li><span><a href="#Displaying-next-three-upcoming-bookings-from-Bookings-table" data-toc-modified-id="Displaying-next-three-upcoming-bookings-from-Bookings-table-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Displaying next three upcoming bookings from Bookings table</a></span></li></ul></li></ul></div>

# Setting up database

!pip install mysql.connector

## Establishing a connection

In [1]:
import mysql.connector as connector
conn = connector.connect(user="root", password="2022")

## Creating a cursor

In [2]:
# Create cursor object to communicate with entire MySQL database
cursor = conn.cursor()
print("Cursor is created to communicate with MySQL using Python")

Cursor is created to communicate with MySQL using Python

## Creating database and set it for use

In [5]:
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("DROP DATABASE little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
print("database 'little_lemon_db' is created")
cursor.execute("USE little_lemon_db")
print("database little_lemon is set for use")

database 'little_lemon_db' is created
database little_lemon is set for use

## Creating MenuItems table in database and populate it with data

In [6]:
create_menuitem_table ="""CREATE TABLE MenuItems(ItemID INT AUTO_INCREMENT, Name VARCHAR(200), Type VARCHAR(100), 
Price INT, PRIMARY KEY (ItemID));"""
cursor.execute(create_menuitem_table)
print("MenuItems table is created")

insert_menuitems ="""
INSERT INTO MenuItems (ItemID, Name, Type, Price) VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

print("Inserting data in MenuItems table")
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}".format(cursor.rowcount))
conn.commit()

MenuItems table is created
Inserting data in MenuItems table
Total number of rows in MenuItem table: 17

## Creating Menus table in database and populate it with data

In [7]:
create_menu_table ="""CREATE TABLE Menus(MenuID INT, ItemID INT, Cuisine VARCHAR(100), PRIMARY KEY (MenuID, ItemID));"""
cursor.execute(create_menu_table)
print("Menu table is created")

insert_menus ="""
INSERT INTO Menus (MenuID, ItemID, Cuisine) VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

print("Inserting data in Menus table")
cursor.execute(insert_menus)
print("Total number of rows in Menu table: {}".format(cursor.rowcount))
conn.commit()

Menu table is created
Inserting data in Menus table
Total number of rows in Menu table: 12

## Creating Bookings table in database and populate it with data

In [8]:
create_booking_table ="""CREATE TABLE Bookings(BookingID INT AUTO_INCREMENT, TableNo INT, GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL, BookingSlot TIME NOT NULL, EmployeeID INT, PRIMARY KEY (BookingID));"""
cursor.execute(create_booking_table)
print("Bookings table is created")

insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

print("Inserting data in Bookings table")
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}".format(cursor.rowcount))
conn.commit()

Bookings table is created
Inserting data in Bookings table
Total number of rows in Bookings table: 6

## Creating Orders table in database and populate it with data

In [12]:
create_orders_table ="""CREATE TABLE Orders(OrderID INT, TableNo INT, MenuID INT, BookingID INT, BillAmount INT,
Quantity INT, PRIMARY KEY (OrderID,TableNo));"""
cursor.execute(create_orders_table)
print("Orders table is created")

insert_orders ="""INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount) VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print("Inserting data in Orders table")
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}".format(cursor.rowcount))
conn.commit()

Orders table is created
Inserting data in Orders table
Total number of rows in Orders table: 5

## Creating Employees table in database and populate it with data

In [13]:
create_employees_table ="""CREATE TABLE Employees(EmployeeID INT AUTO_INCREMENT, Name VARCHAR(200), Role VARCHAR(100),
Address VARCHAR(200), Contact_Number INT, Email VARCHAR(100), Annual_Salary VARCHAR(100), PRIMARY KEY (EmployeeID));"""
cursor.execute(create_employees_table)
insert_employees ="""INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

print("Inserting data in Employees table")
cursor.execute(insert_employees)
print("Total number of rows in the Employees table: ", cursor.rowcount)
conn.commit()

Inserting data in Employees table
Total number of rows in the Employees table:  6

# Implement and query stored procedures

## Creating a pool named pool_a with two connections

In [15]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
dbconfig = {"database": "little_lemon_db", "user": "root", "password": "2022"}

try:
    pool = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("connection pool is created with a name: ", pool.pool_name)
    print("pool size is:", pool.pool_size)

except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

connection pool is created with a name:  pool_a
pool size is: 2

## Getting a connection from pool

In [16]:
print("Getting a connection from pool\n")
conn1 = pool.get_connection()
print("'conn1' object is created with a connection from pool")

Getting a connection from pool

'conn1' object is created with a connection from pool

In [17]:
cursor = conn1.cursor()

## Implementing a stored procedure called PeakHours
1. Writing a SQL CREATE PROCEDURE query for PeakHours:
    1. Using HOUR to extract hour data from BookingSlot
    2. Using COUNT on hour part of BookingSlot data to count number of bookings
    3. Using GROUP BY on booking hour
    4. Useing ORDER BY to retrieve number of bookings in descending order
2. Running stored procedure query by invoking execute module on cursor
3. Invoking callproc to call stored procedure
4. FetchING results in a variable called dataset
5. Extracting names of columns
6. Printing names of columns
7. Printing sorted data using a for loop

In [19]:
cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
stored_procedure_query ="""CREATE PROCEDURE PeakHours()
BEGIN SELECT HOUR(BookingSlot) AS Booking_Hour, COUNT(HOUR(BookingSlot)) AS n_Bookings FROM Bookings
GROUP BY Booking_Hour ORDER BY n_Bookings DESC;
END"""

cursor.execute(stored_procedure_query)
cursor.callproc("PeakHours")

results = next(cursor.stored_results())
dataset = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]
print(columns)

for data in dataset:
    print(data)

['Booking_Hour', 'n_Bookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

## Implementing a stored procedure called GuestStatus
1. Writing a SQL CREATE PROCEDURE query for GuestStatus
2. Combining first and last name of each guest from booking column using a CONCAT function
3. Uing CASE function to implement following order statuses for each guest:
    1. If Role in Employee table is Manager or Assistant Manager then status is Ready to pay
    2. If Role in Employee table is Head Chef then status is Ready to serve
    3. If Role in Employee table is Assistant Chef then status is Preparing order
    4. If Role in Employee table is Head Waiter then status is Order served
4. Performing a LEFT JOIN on Bookings table with Employees table ON EmployeeID
5. Running stored procedure query by invoking execute module on cursor object
6. Invoking callproc to call stored procedure
7. Fetching results in a variable called dataset
8. Extracting names of columns
9. Printing names of columns
10. Printing sorted data using a for loop
11. Closing connection to return it to pool

In [20]:
stored_procedure_query = """CREATE PROCEDURE GuestStatus()
BEGIN SELECT Bookings.BookingID AS OrderNumber, CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, Role AS Employee, 
CASE 
WHEN Role IN ('Manager','Assistant Manager') THEN "Ready to Pay"
WHEN Role = 'Head Chef' THEN "Ready to serve"
WHEN Role = 'Assistant Chef' THEN "Preparing order"
WHEN Role = 'Head Waiter' THEN "Order served"
ELSE "Pending"
END AS Status
FROM Bookings LEFT JOIN Employees ON Employees.EmployeeID=Bookings.EmployeeID;
END"""

cursor.execute(stored_procedure_query)
cursor.callproc("GuestStatus")

results = next(cursor.stored_results())
dataset = results.fetchall()

for column_id in cursor.stored_results():
    columns = [column[0] for column in column_id.description]
print(columns)

for data in dataset:
    print(data)
conn1.close()

['OrderNumber', 'GuestName', 'Employee', 'Status']
(1, 'Anna Iversen', 'Manager', 'Ready to Pay')
(2, 'Joakim Iversen', 'Manager', 'Ready to Pay')
(3, 'Vanessa McCarthy', 'Head Chef', 'Ready to serve')
(4, 'Marcos Romero', 'Assistant Chef', 'Preparing order')
(5, 'Hiroki Yamane', 'Assistant Manager', 'Ready to Pay')
(6, 'Diana Pinto', 'Head Waiter', 'Order served')

# Analysis and sales report

## creating a connection pool

In [21]:
# Import MySQLConnectionPool class
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
dbconfig = {"database": "little_lemon_db", "user": "root", "password": "2022"}
# Creating a pool named "pool_b" with two connections
try:
    pool = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("The connection pool is created with name: ", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with name:  pool_b
The pool size is: 2

## guests dinner booking slots using pool connections

In [23]:
conn1 = pool.get_connection()
cursor1 = conn1.cursor()
booking1 ="""INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES (8,'Anees','Java','18:00:00',6);"""
cursor1.execute(booking1)
conn1.commit()
print("A new booking is added in 'Bookings' table\n")

conn2 = pool.get_connection()
cursor2 =conn2.cursor()
booking2="""INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) 
VALUES (5, 'Bald','Vin','19:00:00',6);"""
cursor2.execute(booking2)
conn2.commit()
print("A new booking is added in 'Bookings' table\n")

# Adding a new connection to connect third user
import mysql.connector as connector
try:
    conn3 = pool.get_connection()
    print("guest is connected")
except:
    print("Adding new connection in pool")    
    # Creating a connection
    conn = connector.connect(user="root",password="2022")
    # Adding connection into pool
    pool.add_connection(cnx=conn)
    print("A new connection is added in pool\n")
        
    conn3 = pool.get_connection()
    print("'conn3' is added in pool")
    
cursor3 =conn3.cursor()
booking3 ="""INSERT INTO Bookings(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES (12, 'Jay','Kon','19:30:00',6);"""
cursor3.execute(booking3)
conn3.commit()
print("A new booking is added in 'Bookings' table")

# can only return two connections back to pool as pool_size=2.
# Closing all connections and using try-except to print pool error if pool is already full

from mysql.connector import Error
for conn in [conn1, conn2, conn3]:
    try:
        conn.close()
        print("Connection is returned to pool")
    except Error as er:
        print("\nConnection can't be returned to pool")
        print("Error message:", er.msg)

A new booking is added in 'Bookings' table

A new booking is added in 'Bookings' table

Adding new connection in pool
A new connection is added in pool

'conn3' is added in pool
A new booking is added in 'Bookings' table
Connection is returned to pool
Connection is returned to pool

Connection can't be returned to pool
Error message: Failed adding connection; queue is full

## Creating a report containing following information:
1. name and EmployeeID of Little Lemon manager
2. name and role of employee who receives highest salary
3. number of guests booked between 18:00 and 20:00
4. full name and BookingId of each guest waiting to be seated with receptionist in sorted order with respect to their BookingSlot

In [24]:
print("Getting a connection from pool")
conn = pool.get_connection()
cursor = conn.cursor()
print("cursor object 'cursor' is created")

cursor.execute("""SELECT Name, EmployeeID FROM Employees WHERE Role = 'Manager'""")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

# name and role of employee who receives highest salary
cursor.execute("""SELECT Name, EmployeeID FROM Employees ORDER BY Annual_Salary DESC LIMIT 1""")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

# number of guests booked between 18:00:00 and 20:00:00
cursor.execute("""SELECT COUNT(BookingID) AS n_booking_between_18_20_hrs FROM Bookings 
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';""")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

# Full name and BookingId of each guest waiting to be seated  
# with receptionist in sorted order with respect to their BookingSlot
cursor.execute("""SELECT Bookings.BookingID AS ID, CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, Role AS Employee
FROM Bookings LEFT JOIN Employees ON Employees.EmployeeID=Bookings.EmployeeID WHERE Employees.Role = "Receptionist"
ORDER BY BookingSlot DESC;""")
print("following guests are waiting to be seated:")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

Getting a connection from pool
cursor object 'cursor' is created
('Name', 'EmployeeID')
('Mario Gollini', 1)
('Name', 'EmployeeID')
('Mario Gollini', 1)
('n_booking_between_18_20_hrs',)
(7,)
following guests are waiting to be seated:
('ID', 'GuestName', 'Employee')
(9, 'Jay Kon', 'Receptionist')
(8, 'Bald Vin', 'Receptionist')
(7, 'Anees Java', 'Receptionist')

## Creating a stored procedure called BasicSalesReport that returns following statistics:
1. Total sales
2. Average sale
3. Minimum bill paid
4. Maximum bill paid

In [25]:
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")
stored_procedure_query = """CREATE PROCEDURE BasicSalesReport()
BEGIN SELECT 
SUM(BillAmount) AS Total_Sale,
AVG(BillAmount) AS Average_Sale,
MIN(BillAmount) AS Min_Bill_Paid,
MAX(BillAmount) AS Max_Bill_Paid
FROM Orders;
END"""

cursor.execute(stored_procedure_query)
cursor.callproc("BasicSalesReport")
results = next(cursor.stored_results())
results = results.fetchall()

for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

print("Today's sales report:")
for result in results:
    print("\t", cols[0], ":", result[0])
    print("\t", cols[1], ":", result[1])
    print("\t", cols[2], ":", result[2])
    print("\t", cols[3], ":", result[3])

Today's sales report:
	 Total_Sale : 243
	 Average_Sale : 48.6000
	 Min_Bill_Paid : 37
	 Max_Bill_Paid : 86

##  Displaying next three upcoming bookings from Bookings table
1. to notify their chefs that orders are due on kitchen screen  
2. Getting a connection from pool
3. Creating a buffered cursor
4. Combining data from Bookings and Employee tables, sort retrieved records in ascending order and display information of first three guests 
5. Returning connection back to pool

In [26]:
conn = pool.get_connection()
cursor = conn.cursor(buffered=True)
sql_query = """SELECT Bookings.BookingSlot,  CONCAT(Bookings.GuestFirstName," ",Bookings.GuestLastName) AS Guest_Name,
Employees.Name AS Emp_Name, Employees.Role AS Emp_Role FROM Bookings INNER JOIN 
Employees ON Bookings.EmployeeID=Employees.EmployeeID ORDER BY Bookings.BookingSlot ASC;"""
cursor.execute(sql_query)
results = cursor.fetchmany(size=3)
for result in results:
    print("\nBookingSlot", result[0])
    print("\tGuest_name:", result[1])
    print("\tAssigned to:", result[2], "[{}]".format(result[3]))
conn.close()

BookingSlot 15:00:00
	Guest_name: Vanessa McCarthy
	Assigned to: Giorgos Dioudis [Head Chef]

BookingSlot 17:30:00
	Guest_name: Marcos Romero
	Assigned to: Fatma Kaya [Assistant Chef]

BookingSlot 18:00:00
	Guest_name: Anees Java
	Assigned to: John Millar [Receptionist]